@forward "./base";
@use "./abstracts/variables";

body {
  background-color: var(--neutral-5);
  margin: 0;
}

h1 {
  color: variables.$primary;
  span {
    color: variables.$second;
  }
}

.nav {
  display: flex;
  margin: 0;
  align-items: center;
  background: variables.$bgprimary;
  justify-content: space-around;
  > * {
    display: flex;
    align-items: center;
  }
  form {
    background-color: variables.$bgsecondary;
    padding: 1%;
    > :first-child {
      //input
      border-radius: 0.5em;
      background: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }
    &:nth-child(2) {
      //search icon
      color: variables.$second;
    }
  }
  ul {
    display: flex;
    li {
      color: variables.$second;
      text-decoration: none;
      margin: 10px;
    }
  }
}

.signup {
  h1 {
    margin: 0;
    padding-block: 5%;
    text-align: center;
    color: variables.$primary;
    // border: solid blue;
  }
  form {
    // border: solid blue;
    margin-inline: 15%;
    display: flex;
    flex-direction: column;
    > * {
      margin-block: 5px;
      border: solid 2px rgb(91, 96, 101, 0.2);
      border-radius: 0.1rem;
      background: transparent;
      padding: 10px;
      &:focus {
        outline: none;
      }
    }
  }
  div {
    width: 50%;
    margin: 0 auto;
    display: flex;
    margin-inline: 15%;
    margin-block: 5px;

    span {
      margin-inline: 5px;
      color: variables.$primary;
    }
  }
}

.btn {
  width: fit-content;
  color: variables.$primary;
  text-align: left;
  cursor: pointer;
  &:hover {
    transition: 0.33s;
    color: variables.$bgprimary;
  }
  // transition: background-color 200ms, color 200ms;
}

.google {
  color: red;
  &:hover {
    opacity: 0.5;
  }
}
